body {
    /* */
    background-color: white;
    color: #FFFFFF;

    font-family: monospace;
    font-size: 1em;

}

h1 {

  font-family: 'Oswald', sans-serif;
  font-size: 2.5em;
  margin-top: 0%;
  text-align : center;
  color: gray;
}

h3
{

  font-family: 'Oswald', sans-serif;
  font-size: 1.5em;
 
  text-align : center;
  color: black;
}

h5
{

  font-family: 'Oswald', sans-serif;
  font-size: 1em;
 
  text-align : center;
  color: red;
}




li {
    background-color: white;
    color: #FFFFFF;
    /* Add a bit more spacing between list items. */
    padding: 1px;
    list-style-type: none;
}

.next{
  margin-left:3em;

  font-size:1.2em;
}

.form_input .input_button #submit_button{
  width:7em;
  margin-left:3.5em;
  font-size:0.75em;
  color:blue;
  font-style:bold;
  background-color:white;
  border:1px 1px 1px 1px;
  border-color:blue;

}


.form_input .input_button #submit_button:hover {
color:#ADD8E6;
}

.form_input #actor_name{
  margin-left:3em;
}

tr td{
  color:black;
}